development/Workflows/DateProcessing-F36B474B-BE88-EB11-A812-002248086F31.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "title": "Trigger date",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter or select a date (YYYY-MM-DD)",
                  "x-ms-content-hint": "DATE"
                }
              },
              "required": [
                "date"
              ]
            }
          }
        }
      },
      "actions": {
        "Day_of_Year": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "vDayOfYear",
                "type": "integer",
                "value": "@dayOfYear(triggerBody()['date'])"
              }
            ]
          }
        },
        "Week_of_Year": {
          "runAfter": {
            "Day_of_Year": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "vWeekOfYear",
                "type": "integer",
                "value": "@add(div(variables('vDayOfYear'),7),1)"
              }
            ]
          }
        },
        "Week_of_Year_2": {
          "runAfter": {
            "Week_of_Year": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "vDayOfYear2",
                "type": "integer",
                "value": "@div(add(dayofyear(addDays(subtractFromTime(triggerBody()['date'], if(equals(dayofweek(triggerBody()['date']),0),6,sub(dayofweek(triggerBody()['date']),1)), 'Day'),3)),6),7)"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}